<div class="register-document">
    <h1>连点服务协议</h1>
    <p>尊敬的用户，欢迎您注册成为连点用户。请您在注册前仔细阅读如下服务条款：</p>
    <p>本协议的双方为成都连点科技有限公司（以下简称“本公司”）与您，在您注册成功之后，本协议将对您产生法律约束力。</p>
    <h2>一．本协议的确认和接受</h2>
    <p>1. 连点平台各项服务的所有权和运营权归本公司所有，本协议的解释权和修订权亦归本公司所有。</p>
    <p>2.您在注册及使用各项服务前，应当认真阅读本协议的全部内容，一旦您注册成为连点用户后，即视为您接受本协议的所有内容并愿意接受本协议的约束。</p>
    <h2>二. 服务说明</h2>
    <p>1. 连点平台目前可以向您提供包括但不限于创建平台、平台管理、司机管理、车辆管理、订单管理、数据统计、资产管理、营销管理等服务，具体以平台开放提供的服务内容为准。除经本公司特别声明外，本平台新增的任何服务和功能均自动成为本协议的服务内容。
    </p>
    <p>2. 本公司仅提供本平台相关的网络技术服务，您必须自行配备使用本平台和上网的所需设备，包括但不限于电脑、调制解调器或其他必备上网装置并自行负担上网所支付的所有费用。</p>
    <p>3. 本公司有权在必要时修改本协议的内容，本协议一旦发生变动，将会在本平台的重要页面上提示修改内容。如果不同意所改动的内容，您可以主动终止使用本平台提供的服务；如果您继续使用本平台提供的服务，则视为您已完全接受本协议已修改的条款并愿意遵照执行。</p>
    <h2>三、用户账号</h2>
    <p>1. 您一旦注册成功，用户将得到一个用户账号和一组密码，您可随时更改密码，也可以注销旧的账户并重开一个新的账户。您应对以您账户名义在本平台中的所有活动和事件负全责；在此，您同意：</p>
    <p class="text-indent-2">（1）如果您未保管好您的账号和密码的，由此导致的所有损失和法律责任均由您自行承担。</p>
    <p class="text-indent-2">（2）您若发现任何非法使用您账号或您账号存在安全漏洞的情况，将立即通知本公司。</p>
    <p>2. 您在注册成功并通过认证后即可成为本平台的正式用户，您将会根据本平台的相关规则获得所应享有的权限及服务。</p>
    <h2>四、用户行为管理</h2>
    <p>1.您承诺您的行为将受到包括但不限于与本平台服务相关的法律法规、政策和惯例等约束，并承诺按照前述规定及本协议约定执行。
    </p>
    <p>2. 您在使用本平台服务期间不得发表下列信息，否则将承担由此造成的一切损失和法律责任：</p>
    <p class="text-indent-2">（1）反对宪法所确定的基本原则的；</p>
    <p class="text-indent-2">（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
    <p class="text-indent-2">（3）损害国家荣誉和利益的；</p>
    <p class="text-indent-2">（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
    <p class="text-indent-2">（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
    <p class="text-indent-2">（6）散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
    <p class="text-indent-2">（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
    <p class="text-indent-2">（8）侮辱或者诽谤他人，侵害他人合法权益的；</p>
    <p class="text-indent-2">（9）含有法律、行政法规禁止的其他内容的。</p>
    <p>3. 您不得干扰或混乱网络服务，不得将平台服务用作非法用途。</p>
    <h2>五、用户的资料提供义务</h2>
    <p>为了使用本平台提供的服务，您同意以下事项：</p>
    <p class="text-indent-2">（1）提供及时、详尽、真实及准确的个人/企业资料，并不断更新，所有原始键入的资料将引用为注册资料。</p>
    <p class="text-indent-2">（2）同意接收来自本平台的信息。</p>
    <p class="text-indent-2">（3）如果您提供的资料存在错误、虚假或欺诈内容，由此产生的一切法律风险和损失均由您承担；同时，本公司有权随时暂停或终止您使用本平台服务，并且不承担任何责任。</p>
    <h2>六．用户隐私制度</h2>
    <p>1. 尊重您的隐私是本公司的一项基本政策。本公司一定不会在未经您合法授权时公开或透露您的隐私内容，但以下情况除外：</p>
    <p class="text-indent-2">（1）您授权本公司透露这些信息；</p>
    <p class="text-indent-2">（2）相应的法律及程序要求本平台提供您的资料；</p>
    <p class="text-indent-2">（3）您的相关信息已通过其他渠道对外公开。</p>
    <p>2.本公司将遵守有关法律规定，并在紧急情况下，竭力维护您和社会大众的隐私安全。</p>
    <p>3.本公司保留发布会员人口分析咨询的权利。</p>
    <h2>七．责任声明</h2>
    <p>1. 本公司不保证本平台的服务不会中断，亦不保证本平台服务的及时性、安全性、准确性，对此本公司无需对您或第三方承担任何责任，但将会竭尽全力在本公司能力范围内避免出错；在此，您明确同意并接受前述内容，并承担在使用本平台服务过程中产生的所有风险。</p>
    <p>2. 本公司对非因本公司原因造成的任何直接、间接、偶然、特殊的经济损失和法律责任均不负责，包括但不限于您不正当使用本平台服务、或您传送的信息不符合规定等。若您的行为有可能导致本平台形象受损或可能危害他人合法权益或违反相关法律法规的，本公司会采取一切措施尽量避免这种损害的发生，由此产生的一切后果和损失将由您承担。</p>
    <h2>八．协议终止</h2>
    <p>您同意：本公司有权因任何理由终止本协议，包括但不限于注销您的账号或终止本平台的所有服务。</p>
    <h2>九．保障</h2>
    <p>您同意保障和维护本平台全体成员的利益，并承担因您的违法违规行为给本公司或其他第三人造成的一切经济损失（包括但不限于律师费）。</p>
    <h2>十．附则</h2>
    <p>1.本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律；因本协议发生的所有争议，均应由本公司所在地法院管辖。</p>
    <p>2. 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍有效并且对双方具有约束力。</p>
    <p>3.本协议自您注册之日起生效。</p>
    <p>（以下无文）</p>
</div>
